<!DOCTYPE html>
<html>
  <head>
    <title>Speedmsg</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://cdn.tailwindcss.com"></script>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>
  <body>
  <% if user_signed_in? %>
    <div class="bg-[#212830] relative flex">
      <nav class="hidden md:block">
        <%= render 'shared/navbar'%>
      </nav>
      <div class="w-full">
        <%= render 'shared/flash'%>
        <%= yield %>
      </div>
    </div>
    <% else %>
      <%= yield %>
  <% end %>
  </body>
</html>
