<!DOCTYPE html>
<html>
  <head>
    <title>Speedmsg</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://cdn.tailwindcss.com"></script>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>
  <% if user_signed_in? %>
    <div class="flex flex-row h-full bg-[#212830] relative">
      <aside>
        <%= render 'shared/navbar'%>
      </aside>
      <div>
        <%= render 'shared/flash'%>
          <div class="min-h-screen">
            <%= yield %>
        </div>
      </div>
    </div>
  <% else %>
    <%= yield %>
  <% end %>
  <body>

    </div>
  </body>
</html>
